.ipynb_checkpoints
__pycache__/pyPROFILE.cpython-38.pyc
/.vs/pyPROFILE/FileContentIndex/8fdbfc80-4847-4324-8e1c-ddcc8fb67136.vsidx
/.vs/pyPROFILE/FileContentIndex/read.lock
/.vs/pyPROFILE/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
*.vsidx
